# Executables
*.exe
*.out
*.app

# Object files
*.o
*.obj

# Debugging files
*.pdb
*.ilk
*.suo

# Build directories
build/
bin/

# IDE specific files
.vscode/
.vs/
*.sln
*.vcxproj*
*.workspace
*.layout
*.user
*.pro.user

# Operating System Files
.DS_Store # macOS specific
Thumbs.db # Windows specific